<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/privacy.css">
</head>

<body>
    <div class=""
        style="width: 600px; border-radius: 4px; margin: 0 auto 0 auto; padding: 20px; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
        <h1 class="heading color" style="text-align: center; margin: 40px 0 40px 0 ;">Steps to Delete Account</h1>

        <h3>1. After logged in, first route to the Profile screen.</h3>
        <img style="margin: 0 auto 0 auto;" src="/one.png" alt="">
        <br>
        <br>

        <h3>2. Then tap on Delete Account.</h3>
        <img src="/first.png" alt="">
        <br>
        <br>

        <h3>3. A pop-up will appear; provide your phone Number in the input field. Then need to click on the delete button </h3>
        <img src="/second.png" alt="">
        <br>
        <br>

        <h3>4. After verify OTP need to click on the confirm button</h3>
        <img src="/third.png" alt="">
        <br>
        <h3>5. Your account will be deleted successfully.</h3>
        <br>
        <br>

        <p style="text-align: center;">© 2025 Save and Dates. All rights reserved.</p>
    </div>
</body>

</html>